pandas~=2.2.1
plotly~=5.24.1
yfinance~=0.2.63
numpy~=1.26.4
torch~=2.7.1
tqdm~=4.67.1
vectorbt~=0.27.3
sympy~=1.13.2
pyodbc~=5.1.0
pydantic~=2.8.2
azure-identity~=1.21.0
quantstats-lumi==1.0.1
numba~=0.60.0
ipython~=8.22.2
lxml~=5.2.1
polygon-api-client~=1.14.6
wandb~=0.20.1
google-genai~=1.23.0
onnxruntime~=1.22.0
pyarrow~=16.1.0
pytorch-forecasting~=1.4.0
pytorch-lightning~=2.5.2
cvxpy~=1.4.0
