pandas~=2.3.0
plotly~=5.2.1
yfinance~=0.2.54
numpy~=1.26.0
torch~=2.7.1
tqdm~=4.59.0
vectorbt~=0.27.2
sympy~=1.8
pyodbc~=5.0.1
pydantic~=1.10.12
azure-identity~=1.21.0
quantstats-lumi==1.0.1
numba~=0.59.0
ipython~=8.12.3
lxml~=5.2.1
polygon-api-client~=1.14.6
wandb~=0.20.1
google-genai~=1.23.0
onnxruntime~=1.22.0
pyarrow~=14.0.1
pytorch-forecasting~=1.4.0
pytorch-lightning~=2.5.2
cvxpy~=1.4.0
